scipy
numpy
jupyter
ipython
easydict
opencv-contrib-python
Cython
pillow
h5py
lmdb
mahotas
pandas
requests
web.py==0.40.dev0
pika
matplotlib
lxml
bs4
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability